.checkout-container {
    padding: 1rem;
    text-align: center;
  }
  
  .checkout-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
  }
  
  .checkout-form, .checkout-brief {
    border: 1px solid var(--light-gray);
    padding: 1rem;
    border-radius: 6px;
    min-width: 300px;
    max-width: 400px;
  }
  
  .checkout-form form div {
    margin-bottom: 1rem;
    text-align: left;
  }
  
  .checkout-form label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .checkout-form input {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
  }
  
  .checkout-form button {
    background-color: var(--primary-color);
    color: #000000;
    border: none;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .checkout-brief {
    text-align: left;
  }
  
  .checkout-item {
    display: flex;
    justify-content: space-between;
  }
  
  .checkout-success {
    margin: 2rem;
  }
  